Package: com.tapsharp.unicodefaces
Name: Unicode Faces
Depends: firmware(>=12.1), mobilesubstrate, com.tapsharp.libtapsharp (>= 1.0.1)
Conflicts:org.seatanners.unifaces
Version: 2.0.0
Architecture: iphoneos-arm
Description: Add Unicode Faces to your Keyboard.
Maintainer: Neo Ighodaro
Author: Neo Ighodaro
Icon: file:///Library/PreferenceBundles/UnicodeFaces.bundle/icon.png
Section: Tweaks
Tags:unifaces,unicode,smileys,unicode faces,tapsharp,neo ighodaro
