<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>TapSharpHeaderCell</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You have to long press this key to activate Unicode Faces selector. You may need to respring to see changes.</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.tapsharp.unicodefaces</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>key</key>
            <string>activator</string>
            <key>label</key>
            <string>Activator</string>
            <key>validTitles</key>
            <array>
                <string>Hold Space Key</string>
                <string>Hold Emoji Key</string>
            </array>
            <key>validValues</key>
            <array>
                <string>Space-Key</string>
                <string>International-Key</string>
            </array>
            <key>PostNotification</key>
            <string>com.tapsharp.unicodefaces/ReloadPrefs</string>
        </dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>TapSharpFooterCell</string>
		</dict>


	</array>
	<key>title</key>
	<string>Unicode Faces</string>
</dict>
</plist>
