{
    title = "Unicode Faces";
    items = (
        {
            cell = PSGroupCell;
            footerCellClass = UFTapSharpHeaderCell;
        },

        {
            cell = PSGroupCell;
            footerText = "You have to long press this key to activate Unicode Faces selector. You may need to respring to see changes.";
        },
        {
            id = "activator";
            cell = PSLinkListCell;
            defaults = "com.tapsharp.unicodefaces";
            detail = PSListItemsController;
            key = "activator";
            label = "Activator";
            validTitles = (
                "Space Key",
                "International/Emoji Key"
            );
            validValues = (
                "Space-Key",
                "International-Key"
            );
            PostNotification = "com.tapsharp.unicodefaces/ReloadPrefs";
        },

        {
            cell = PSGroupCell;
            footerText = "From this option you can reorder, delete or add new Unicode faces.";
        },
        {
            cell = PSLinkCell;
            detail = UFReorderListController;
            label = "Manage Unifaces";
            enabled = 1;
        },

        {
            cell = PSGroupCell;
            footerCellClass = UFTapSharpFooterCell;
        }
    );
}