{
	title = ABOUT;
	items = (
		{
			cell = PSGroupCell;
			headerCellClass = HBPackageNameHeaderCell;
			icon = icon.png;
			packageIdentifier = "com.tapsharp.unicodefaces";
			showAuthor = 0;
			showVersion = 0;
		},

		{
			cell = PSGroupCell;
		},

		{
			big = 1;
			cellClass = HBTwitterCell;
			height = 62;
			label = "TapSharp Interactive";
			user = "TapSharp";
		},

		{
			cell = PSGroupCell;
			label = DEVELOPER;
		},
		{
			cellClass = HBTwitterCell;
			label = "Neo Ighodaro";
			user = "NeoIghodaro";
		},


		{
			cell = PSGroupCell;
			label = TRANSLATORS;
		},
		{
			cellClass = HBTwitterCell;
			label = "Thiago S.";
			user = "smicelato";
		},
		{
			cellClass = HBTwitterCell;
			label = "BlackR41n";
			user = "BlackR41n";
		},
		{
			cellClass = HBTwitterCell;
			label = "Mounir";
			user = "MounirSk";
		},


		{
			cell = PSGroupCell;
			label = EMAIL_SUPPORT;
			footerText = EMAIL_SUPPORT_TEXT;
		},
		{
			action = hb_sendSupportEmail;
			cell = PSButtonCell;
			cellClass = HBTintedTableCell;
			label = EMAIL_SUPPORT;
		}
	);
}