{
    title = "Unicode Faces";
    items = (
        {
            cell = PSGroupCell;
            footerCellClass = UFTapSharpHeaderCell;
        },

        {
            cell = PSGroupCell;
            footerText = ACTIVATION_HELP;
        },
        {
            id = "activator";
            cell = PSLinkListCell;
            defaults = "com.tapsharp.unicodefaces";
            detail = HBListItemsController;
            key = "activator";
            label = ACTIVATOR;
            validTitles = (
                "SPACE_KEY",
                "INTL_KEY"
            );
            validValues = (
                "Space-Key",
                "International-Key"
            );
            PostNotification = "com.tapsharp.unicodefaces/ReloadPrefs";
        },

        {
            cell = PSGroupCell;
            footerText = MANAGE_HELP;
        },
        {
            cell = PSLinkCell;
            detail = UFReorderListController;
            label = MANAGE;
            enabled = 1;
        },
        {
            cell = PSButtonCell;
            action = resetConfirmation;
            label = RESET_TITLE;
            enabled = 1;
            cellClass = HBTintedTableCell;
        },

        {
            cell = PSGroupCell;
            footerText = SUPPORT_DEVELOPER_TEXT;
        },
        {
            cell = PSLinkCell;
            detail = UFAboutListController;
            isController = 1;
            label = ABOUT;
        },
        {
            cell = PSButtonCell;
            cellClass = HBInitialsLinkTableCell;
            label = SUPPORT_DEVELOPER;
            enabled = 1;
            icon = "textfaces.png";
            url = "http://appsto.re/us/urDu_.i";
        },

        {
            cell = PSGroupCell;
            footerCellClass = UFTapSharpFooterCell;
        }
    );
}